.header {
  --background-color: #000000;
  --default-color: #ffffff;
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 5px;
}

/* Mini me */

.profile-img {
  width: 75px;
  height: 75px;
  padding: 10px;
}

/* Navigation Navbar*/

@media (min-width: 1200px) {
  .header .logo h1 {
    font-size: 30px;
    font-weight: 600;
  }

  .navmenu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  .navmenu > ul > li {
    white-space: nowrap;
    padding: 15px 14px;
  }

  .navmenu a,
  .navmenu{
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }

  .navmenu > ul > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: var(--nav-hover-color);
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }

  .navmenu a:hover:before,
  .navmenu li:hover > a:before,
  .navmenu .active:before {
    visibility: visible;
    width: 100%;
  }

  .navmenu .dropdown ul {
    margin: 0;
    padding: 10px 0;
    background: var(--nav-dropdown-background-color);
    display: block;
    position: absolute;
    visibility: hidden;
    left: 14px;
    top: 130%;
    opacity: 0;
    transition: 0.3s;
    border-radius: 4px;
    z-index: 99;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  }
}

/* Mobile Navigation Navbar*/

@media (max-width: 1199px) {
  .mobile-nav-toggle {
    color: var(--nav-color);
    font-size: 28px;
    line-height: 0;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .navmenu ul {
    display: none;
    list-style: none;
    position: absolute;
    inset: 60px 20px 20px 20px;
    padding: 10px 0;
    margin: 0;
    border-radius: 6px;
    background-color: var(--nav-mobile-background-color);
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    box-shadow: none;
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }
}

:root {
  --nav-hover-color: #ffffff;
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

/* Background Section*/

.background {
  width: 100%;
  min-height: calc(100vh - 92px);
  position: relative;
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background .container {
  z-index: 3;
}

.background h2 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  color: white;
}

.background p {
  margin: 5px 0 0 0;
  font-size: 36px;
  font-weight: 600;
  color: white;
}

.profile-image {
  width: 25vw !important;
  height: 25vw !important;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 20%;
  margin-left: 60%;
  margin-top: 10%;
}

/* background Section: Mobile */

@media (max-width: 767px) {
  .profile-image {
    width: 40vw !important;
    height: 40vw !important;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: auto;
    margin-top: 28%;
  }

  .background .container {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin-top: 50%;
  }

  .background h2,
  .background p {
    font-size: 35px;
  }
}

/* About me and Skills Section */

.aboutme {
  border-radius: 9px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.circle {
  width: 50px;
  height: 50px;
  background-color: #d09ba47d;
  border-radius: 50%;
  position: absolute;
}

.education-title {
  font-size: 2rem;
  font-weight: bold;
  z-index: 1;
  margin-left: 20px;
}

.progress-bar {
  width: 0;
  background-color: #d09ba4;
  transition: width 2s ease;
  height: 10px;
}

.progress {
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  height: 10px;
}

.skill {
  margin-bottom: 20px;
}

.skill p {
  font-size: 15px;
  margin-bottom: 7px;
  font-weight: 500;
}

.percentage {
  margin-top: 10px !important;
  margin-right: 19px;
  font-weight: 600;
}

.image {
  background-image: url("./img/tulips.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: fit-content;
}

.image p {
  padding: 20px;
}

@media (max-width: 400px) {
  .image {
    background-image: url("./img/tulips.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: fit-content;
    height: 600px;
  }

  .image p {
    padding: 20px;
  }

  .skills {
    margin: 0 0 0;
  }
}
.custom-button {
  background-color: #e1bfc5;
  color: white;
  border: none;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  margin-left: 15px;
  margin-bottom: 50px;
}

.custom-button:hover {
  background-color: #d09ba4;
}

.linkedin-link {
  color: #a36e77;
  text-decoration: underline;
}


/* Projects Section */

.imagencard img{
  
  width: 100%;
  object-fit: cover;
}
.projects-container{
  background-color: #f9eeee;
}

.project-card {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}


/* Technologies used Section */

.tech-slider {
  overflow: hidden;
  width: 100%;
  mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
 
}

.tech-container {
  display: flex;
  gap: 20px;
  animation: scroll 15s linear infinite;
}

@media (max-width: 768px) {
  .tech-container {
      width: 3rem;
      animation: scroll 2s linear infinite;
  }
}

.tech-tag {
    background-color: #e8ced2;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 20px;
 
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

