
.header {
  --background-color: #000000;
  --default-color: #ffffff;
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 5px;
}
.profile-img {
  width: 75px;
  height: 75px;
padding: 10px;
}

@media (min-width: 1200px) {
  .header .logo h1 {
    font-size: 30px;
    font-weight: 600;
  }

  .navmenu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  .navmenu > ul > li {
    white-space: nowrap;
    padding: 15px 14px;
  }

  .navmenu a,
  .navmenu a:focus {
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }

  .navmenu > ul > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: var(--nav-hover-color);
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }

  .navmenu a:hover:before,
  .navmenu li:hover > a:before,
  .navmenu .active:before {
    visibility: visible;
    width: 100%;
  }

  .navmenu .dropdown ul {
    margin: 0;
    padding: 10px 0;
    background: var(--nav-dropdown-background-color);
    display: block;
    position: absolute;
    visibility: hidden;
    left: 14px;
    top: 130%;
    opacity: 0;
    transition: 0.3s;
    border-radius: 4px;
    z-index: 99;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  }
}

/* Mobile Navigation */
@media (max-width: 1199px) {
  .mobile-nav-toggle {
    color: var(--nav-color);
    font-size: 28px;
    line-height: 0;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .navmenu ul {
    display: none;
    list-style: none;
    position: absolute;
    inset: 60px 20px 20px 20px;
    padding: 10px 0;
    margin: 0;
    border-radius: 6px;
    background-color: var(--nav-mobile-background-color);
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    box-shadow: none;
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
  --nav-hover-color: #ffffff; /* Applied to main navmenu links when they are hovered over or active */
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}



/*--------------------------------------------------------------
# background Section
--------------------------------------------------------------*/
.background {
  width: 100%;
  min-height: calc(100vh - 92px);
  position: relative;
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background img {
  position: absolute;
  inset: 0;
 
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}


 

.background .container {
  z-index: 3;
}

.background h2 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  color: white;
}

.background p {
  margin: 5px 0 0 0;
  font-size: 36px;
  font-weight: 600;
  color: white;
}
 

/* Ajustar la imagen más arriba en pantallas grandes */
.profile-image {
  width: 25vw !important; 
  height: 25vw !important; 
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 20%; /* Ajusta la altura de la imagen */
  margin-left: 60%;
  margin-top: 10%;
}

/* Pantallas móviles */
@media (max-width: 767px) {
  .profile-image {
    width: 40vw !important; /* Ajustar el tamaño de la imagen en móviles */
    height: 40vw !important;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: auto; /* Quita el top para no forzar la posición */
    margin-top: 28%;
  }

  .background .container {
    flex-direction: column-reverse; /* Cambia el orden para poner el texto abajo */
    align-items: center;
    text-align: center;
    margin-top: 50%;
  }

  .background h2, .background p {
    font-size: 35px; /* Ajusta el tamaño del texto para móviles */
    
  }
}


 
.circle {
  width: 50px;
  height: 50px;
  background-color: #ffcc00;  
  border-radius: 50%;
  position: absolute;
 
}

.education-title {
  font-size: 2rem;
  font-weight: bold;
  z-index: 1; 
  margin-left: 20px;
}


.progress-bar {
  width: 0;
  background-color: #d09ba4;
  transition: width 2s ease;
  height: 10px; 
}

.progress {
  background-color: #e0e0e0; /* Color de fondo de la barra de progreso */
  border-radius: 5px; /* Redondea las esquinas de la barra de progreso */
  overflow: hidden; /* Asegura que la barra no sobresalga de su contenedor */
  height: 10px; /* Ajusta la altura de la barra de progreso aquí */
}

h5 {
  display: flex;
  justify-content: space-between;
}

.skill {
  margin-bottom: 20px;
}

.skill p{
  font-size: 15px;
  margin-bottom: 7px;
  font-weight: 500;
}

.percentage{
  margin-top: 10px !important;
  margin-right: 19px;
  font-weight: 600;
 
}
 
 
 